<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeMart</title>
    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom Stylehsheet -->
    <link th:href="@{/styles/default.css}" rel="stylesheet" />
    <link th:href="@{/styles/cart.css}" rel="stylesheet" />
</head>

<body>
    <div class="page_container">

        <nav class="navbar navbar-light bg-light justify-content-between rounded-bottom">
            <a href="/mart/main"><button type="button" class="btn btn-md btn-info">Home</button></a>
            <a href="/logout"><button type="button" class="btn btn-md btn-warning">Logout</button></a>
            <img class="logo rounded" src="@{../static/img/logo.png}" th:src="@{../img/logo.png}" alt="logo">
            <form class="form-inline" method="GET" data-th-action="@{/mart/search}">
                <input required class="form-control" type="search" placeholder="Search Poké Mart!" aria-label="Search" name="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
            </form>
        </nav>

        <div data-th-if="${search}" style="padding:10px;"><h4>Products related to: "<span data-th-text = "${search}"></span>"</h4></div>

            <form data-th-action="@{/cartList}" method="POST" data-th-object="${cartList}">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="width:5%;text-align:center">#</th>
                        <th scope="col" style="width:20%;text-align:center;min-width:80px">Product Photo</th>
                        <th scope="col" style="width:40%">Item (Click for More Details)</th>
                        <th scope="col" style="width:20%">Price</th>
                        <th scope="col" style="width:15%;text-align:center;min-width:90px">Quick Add</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-th-each="item,stat: ${martItems}">
                        <td><h4 data-th-text="${stat.index + 1}" style="text-align:center"></h4></td>
                        <td><img data-th-src=${item.imgSrcApi}
                                onerror="this.onerror=null;this.src='/img/missing-sprite.png';"
                                class="cart-img rounded-circle width-60"></td>
                        <td><a data-th-href="@{/mart/item/{id}(id=${item.item_id})}" data-th-text=${item.name} ></a></td>
                        <td>$<span data-th-text=${#numbers.formatDecimal(item.cost,0,2)}></span></td>
                        <td>
                            <input type="hidden"data-th-name="cartList[__${stat.index}__].item_id" th:value="${item.item_id}"/>
                            <input type="number" step="1" min="0" max="99" class="form-control" style="text-align:center" 
                            data-th-field="*{cartList[__${stat.index}__].item_qty}"
                                >
                            </td>




                    </tr>
                    <tr></tr>
                </tbody>
                </table>
                <div class="align-right"><button type="submit" class="btn btn-md btn-danger">Quick Add to Cart!</button></div>
                </form>

                <div class="page-nav">
                    <nav aria-label="Page Navigation">
                        <ul class="pagination">
                            <li data-th-class="${page==0}?'page-item disabled': page-item"><a class="page-link" data-th-href="@{/mart/main?page={id}(id=${page-1})}">Previous</a></li>
                            <!-- data-th-unless="${page==0}  -->
                            <li class="page-item active"><span class="page-link" data-th-text="${page}"></span></li>
                            <li data-th-class="${last}?'page-item disabled': page-item"><a class="page-link" data-th-href="@{/mart/main?page={id}(id=${page+1})}">Next</a></li>
                            <!-- data-th-unless="${last} -->
                        </ul>
                    </nav>
                </div>


                

        <footer class="footer bg-light rounded-top">
            <div class="container">
                <span class="fs-6">Poké Mart Logo by <a href="https://www.domestika.org/en/thedesmonddu">Desmond Du</a>
                </span>
            </div>
        </footer>

    </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>



</body>

</html>