<div class="app-container">
    <nav class="navbar border-bottom border-bottom-dark sticky-top bg-body-tertiary">
        <div class="container-fluid">
            <img class="logo" src="api\img\logo.png">
            <!-- <h1 class="navbar-brand">Welcome!</h1> -->
            <form class="d-flex" role="search">
                <input class="form-control form-control-sm me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </form>

            <ul class="nav nav-underline sticky-top">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']">Shop</a>
                </li>
                <li class=" nav-item">
                    <a class="nav-link" [routerLink]="['/category']">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/uc']">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" [routerLink]="['/uc']">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>


    <nav class="navbar sticky-bottom bg-body-tertiary">
        <div class="container-fluid">
            <p class="credit">Pokemart Logo By: <a href="https://www.domestika.org/en/thedesmonddu">@thedesmonddu</a>
            </p>
        </div>
    </nav>

</div>